<h1>Listing stadia</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ciudad</th>
      <th>Fecha construccion</th>
      <th>Capacidad</th>
      <th>Foto</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stadia.each do |stadium| %>
      <tr>
        <td><%= stadium.nombre %></td>
        <td><%= stadium.ciudad %></td>
        <td><%= stadium.fecha_construccion %></td>
        <td><%= stadium.capacidad %></td>
        <td><%= stadium.foto %></td>
        <td><%= link_to 'Show', stadium %></td>
        <td><%= link_to 'Edit', edit_stadium_path(stadium) %></td>
        <td><%= link_to 'Destroy', stadium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stadium', new_stadium_path %>
