<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Entrenador</th>
      <th>Bandera</th>
      <th>Uniforme</th>
      <th>Historia</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.nombre %></td>
        <td><%= team.entrenador %></td>
        <td><%= team.bandera %></td>
        <td><%= team.uniforme %></td>
        <td><%= team.historia %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
